<html xmlns="http://www.w3.org/1999/html" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Boards</title>
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <th>Board</th>
          <th>Topic</th>
          <th></th>
          <th> Last Post</th>
        </tr>
      </thead>
      <tbody>
        {% for board in boards %}
          <tr>
            <td>
              <a href="{% url 'board:topic' board.pk %}">{{ board.name }}</a><br>
              <small>{{ board.description }}</small>
            </td>
            <td>{{ board.get_posts_count }}</td>
            <td>{{ board.topics.count }}</td>
            <td>{% with post=board.get_last_post %}
                  By : {{ post.created_by.username }} at {{ post.created_at }}</td>
                {% endwith %}
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </body>
</html>